@using MongoDB.WebIDE.Models
@using MongoDB.Defination
@model ShowIndexModel
<div class="PageTitle">
	<i class="icon-inbox"></i>&nbsp;<strong class="text-info">@Model.Title</strong>
</div>
<div class="accordion-heading alert-success mt10">
	<a class="accordion-toggle">表索引</a>
</div>
<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>
			<span class="label label-info">名称</span>
		</th>
		<th>
			<span class="label label-info">命名空间</span>
		</th>
		<th>
			<span class="label label-info">字段</span>
		</th>
		<th>
			<span class="label label-info">是否唯一</span>
		</th>
	</tr>
	@{
		foreach (var item in Model.Indexes)
		{
		<tr>
			<td>
				@item.Name
			</td>
			<td>
				@item.Namespace
			</td>
			<td>
				@{
			foreach (var key in item.Keys)
			{					
					<span>@key.FieldName : @(key.OrderType == MongoIndexOrderType.Ascending ? "升序" : "降序")</span><br />
			}
				}
			</td>
			<td>
				<div class="form-inline">
					<label class="checkbox inline">
						<input type="checkbox" @(item.Unique ? "checked" : "") disabled />
					</label>
				</div>
			</td>
		</tr>
		}
	}
</table>
